body {
  background: #f9f7fe;
}

.App {
  max-width: 500px;
  margin: 0 auto;
  padding-top: 25px;
}

.App .footer {
  font-family: "Noto Serif", Serif;
  text-align: center;
  font-size: 0.75rem;
  margin-top: 15px;
}

.App .footer a {
  text-decoration: none;
  font-family: "Varela Round", Sans-Serif;
  font-weight: bolder;
  color: #000;
}

.App .footer a:hover {
  text-decoration: underline;
}
