.WeatherInfo {
  font-family: "Varela Round", Sans-Serif;
}

.WeatherInfo h1 {
  font-size: 5vw;
  font-weight: normal;
  margin-bottom: 0;
  padding: 10px 0px 0px 0px;
}

.WeatherInfo .today-date {
  font-family: "Noto Serif", Serif;
  font-size: 0.9rem;
}

.WeatherInfo ul {
  list-style: none;
  font-size: 0.75rem;
}

.WeatherInfo .today-summary {
  padding: 0px;
}

.WeatherInfo .row {
  padding-top: 20px;
}

.WeatherInfo .main-icon {
  padding-left: 20px;
}
