.WeatherInfo {
  font-family: "Varela Round", Sans-Serif;
}

.WeatherInfo h1 {
  font-size: 5vw;
  font-weight: normal;
  margin-bottom: 0;
}

.WeatherInfo .today-date {
  font-family: "Noto Serif", Serif;
}

.WeatherInfo ul {
  list-style: none;
  font-size: 0.75rem;
}

.WeatherInfo .today-summary {
  padding: 0px;
}
