.today-temp {
  font-size: 3.5vw;
  font-weight: bold;
}

@media (max-width: 600px) {
  .today-temp {
    font-size: 5vw;
  }
}

.degree-unit {
  font-size: 2vw;
}

@media (max-width: 600px) {
  .degree-unit {
    font-size: 3vw;
  }
}

.unit-link {
  text-decoration: none;
  opacity: 0.4;
  color: #000;
}

.unit-link.hover {
  text-decoration: none;
  font-weight: bolder;
}
