.Weather {
  border-radius: 10px;
  font-family: "Varela Round", Sans-Serif;
  padding: 25px;
  margin: 0 auto;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px,
    rgba(0, 0, 0, 0.22) 0px 10px 10px;
}

.Weather button {
  border-radius: 5px;
  margin: 0 auto;
  color: #fff;
  background-color: #000;
  border: 1px solid #000;
  box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.1);
  cursor: pointer;
  text-align: center;
}

.Weather button:hover {
  background-image: url(https://s3.amazonaws.com/shecodesio-production/uploads/files/000/024/774/original/brightcolors.gif?1642015243);
  color: #000;
  font-weight: bolder;
}

.forecast-grid {
  padding-top: 30px;
}

.weather-info {
  padding-top: 40px;
}
